  # htaccess
  
  FileETag none

  SetOutputFilter DEFLATE
  SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png)$ \ no-gzip dont-vary
  SetEnvIfNoCase Request_URI \.(?:exe|t?gz|zip|bz2|sit|rar)$ \no-gzip dont-vary
  SetEnvIfNoCase Request_URI \.pdf$ no-gzip dont-var

  RewriteEngine on
  RewriteBase /ffmarks
  
  # for www
  #RewriteBase /
  #RewriteCond %{HTTP_HOST} .
  #RewriteCond %{HTTP_HOST} !^ffmarks\.com
  #RewriteRule (.*) http://ffmarks.com/$1 [R=301,L]
  
  RewriteCond $1 !^(index\.php|public|ffapi|_tasarim|m|robots|\.txt)
  RewriteRule ^(.*)$ index.php/$1 [L]